# Module 2 Assessment

Welcome to your Mod 2 Assessment. You will be tested for your understanding of concepts and ability to solve problems that have been covered in class and in the curriculum.

Use any libraries you want to solve the problems in the assessment.

The sections of the assessment are:

- Accessing Data Through APIs
- Object Oriented Programming
- SQL and Relational Databases
- Web Scraping

In this assessment you will primarily be exploring a Pokemon dataset. Pokemon are fictional creatures from the [Nintendo franchise](https://en.wikipedia.org/wiki/Pok%C3%A9mon) of the same name.

Some Pokemon facts that might be useful:
* The word "pokemon" is both singular and plural. You may refer to "one pokemon" or "many pokemon".
* Pokemon have attributes such as a name, weight, and height.
* Pokemon have one or multiple "types". A type is something like "electric", "water", "ghost", or "normal" that indicates the abilities that pokemon may possess.
* The humans who collect pokemon are called "trainers".

In [1]:
# import the necessary libraries
import requests
import json
import pandas as pd
import sqlite3
from bs4 import BeautifulSoup

## Part 1: Accessing Data Through APIs [Suggested Time: 25 minutes]

In this section we'll be using PokeAPI to get data on Pokemon. 

[Consult the documentation here](https://pokeapi.co/docs/v2.html) for information on obtaining data from this API.

### 1. Get the "types"
We want to know the "types" of any particular pokemon given it's name. Complete the `get_pokemon_types` function below. It should return a `list` of all the names of the "types" that pokemon has

Make a request to `"https://pokeapi.co/api/v2/pokemon/<add-name-of-pokemon-here>"`. Inspect the API response and extract the names of the types. Here are the [docs for this specific API route](https://pokeapi.co/docs/v2.html/#pokemon).

```python
# Examples: 
get_pokemon_types("pikachu")   # returns ["electric"]
get_pokemon_types("bulbasaur") # returns ["poison", "grass"]
get_pokemon_types("snorlax")   # returns ["normal"]
get_pokemon_types("moltres")   # returns ["flying", "fire"]
```

In [172]:
url = 'https://pokeapi.co/api/v2/pokemon/'
resp = requests.get('https://pokeapi.co/api/v2/pokemon')
soup = BeautifulSoup(resp.content, 'html.parser')

In [308]:
def get_pokemon_types(name):
    poke_url = url + name
    poke_resp = (requests.get(poke_url)).json()
    final = poke_resp['types']
    return final

    
#    input: name - a string of the pokemon's name
    
#    return: a list of strings of the one or more types belonging to the pokemon
    

#data = {outer_k: {inner_k: myfunc(inner_v) for inner_k, inner_v in outer_v.items()} for outer_k, outer_v in outer_dict.items()}

In [309]:
get_pokemon_types('ivysaur')

[{'slot': 2,
  'type': {'name': 'poison', 'url': 'https://pokeapi.co/api/v2/type/4/'}},
 {'slot': 1,
  'type': {'name': 'grass', 'url': 'https://pokeapi.co/api/v2/type/12/'}}]

## Part 2: Object Oriented Programming [Suggested Time: 20 minutes]

As a pokemon trainer we want to make sure our pokemon are performing at their peak. To measure this, we want to calculate a pokemon's Body Mass Index (or BMI). This is a statistic calculated using the pokemon's height and weight. 

To help with this task we we will create Pokemon objects that methods can be called on. 

You'll be working with following dictionaries to create the `Pokemon` objects

In [9]:
# Use the following data
bulbasaur_data = {"name": 'bulbasaur', "weight": 69, "height": 7, "base_experience": 64, "types": ["grass", "poison"]}
charmander_data = {"name": 'charmander', "weight": 85, "height": 6, "base_experience": 62, "types": ["fire"]}
squirtle_data = {"name": 'squirtle', "weight": 90, "height": 5, "base_experience": 63, "types": ["water"]}

### 1. Creating a Class

Create a class called `Pokemon` with an `__init__` method. Every `Pokemon` instance should have the following attributes:
* `name`
* `weight`
* `height`

In [10]:
# Create your class below with the correct syntax, including an __init__ method.

class Pokemon():
    def __init__(self, name, weight, height):
        name = self.name
        weight = self.weight
        height = self.height

    
### 2. Instantiating Objects

Using the `bulbasaur_data`, `charmander_data` and `squirtle_data` variables, create the corresponding pokemon objects.

In [11]:
# Your code here
bulbasaur = Pokemon(bulbasaur_data)
charmander = Pokemon(charmander_data)
squirtle = Pokemon(squirtle_data)

TypeError: __init__() missing 2 required positional arguments: 'weight' and 'height'

In [152]:
# run this cell to test and check your code
# you may need to edit the attribute variable names if you named them differently!

def print_pokeinfo(Pokemon):
    print('Name: ' + Pokemon.name)
    print('Weight: ' + str(Pokemon.weight))
    print('Height: ' + str(Pokemon.height))
    
print_pokeinfo(bulbasaur)
print_pokeinfo(charmander)
print_pokeinfo(squirtle)

NameError: name 'bulbasaur' is not defined

### 3. Instance Methods

Write an instance method called `bmi` within the class `Pokemon` defined above to calculate the BMI of a Pokemon. 

BMI is defined by the formula: $\frac{weight}{height^{2}}$ 

The BMI should be calculated with weight in **kilograms** and height in **meters**. 


The height and weight data of Pokemon from the API is in **decimeters** and **hectograms** respectively. Here are the conversions:

```
1 decimeter = 0.1 meters
1 hectogram = 0.1 kilograms
```

In [ ]:
# run this cell to test and check your code

def bmi(Pokemon):
    # convert height to meters
    # convert weight to kilograms
    # square height
    # divide weight by height squared
    # print answer

# After defining a new instance method on the class, 
# you will have to rerun the code instantiating your objects

print(bulbasaur.bmi()) # 14.08
print(charmander.bmi()) # 23.61
print(squirtle.bmi()) # 36.0

## Part 3: SQL and Relational Databases [Suggested Time: 30 minutes]

For this section, we've put the Pokemon data into SQL tables. You won't need to use your list of dictionaries or the JSON file for this section. The schema of `pokemon.db` is as follows:

<img src="data/pokemon_db.png" alt="db schema" style="width:500px;"/>

Assign your SQL queries as strings to the variables `q1`, `q2`, etc. and run the cells at the end of this section to print your results as Pandas DataFrames.

- q1: Find all the pokemon on the "pokemon" table. Display all columns.  

  
- q2: Find all the rows from the "pokemon_types" table where the type_id is 3.


- q3: Find all the rows from the "pokemon_types" table where the associated type is "water". Do so without hard-coding the id of the "water" type, using only the name.


- q4: Find the names of all pokemon that have the "psychic" type.


- q5: Find the average weight for each type. Order the results from highest weight to lowest weight. Display the type name next to the average weight.


- q6: Find the names and ids of all the pokemon that have more than 1 type.


- q7: Find the id of the type that has the most pokemon. Display type_id next to the number of pokemon having that type. 


**Important note on syntax**: use `double quotes ""` when quoting strings **within** your query and wrap the entire query in `single quotes ''`.

In [17]:
cnx = sqlite3.connect('data/pokemon.db')
cur = cnx.cursor()

In [18]:
# q1: Find all the pokemon on the "pokemon" table. Display all columns. 
q1 = 'SELECT * from pokemon'
pd.read_sql(q1, cnx)

      id        name  base_experience  weight  height
0      1   bulbasaur               64      69       7
1      2     ivysaur              142     130      10
2      3    venusaur              236    1000      20
3      4  charmander               62      85       6
4      5  charmeleon              142     190      11
..   ...         ...              ...     ...     ...
146  147     dratini               60      33      18
147  148   dragonair              147     165      40
148  149   dragonite              270    2100      22
149  150      mewtwo              306    1220      20
150  151         mew              270      40       4

[151 rows x 5 columns]

In [19]:
# q2: Find all the rows from the "pokemon_types" table where the type_id is 3.
q2 = 'SELECT * from pokemon_types WHERE type_id LIKE 3'
pd.read_sql(q2, cnx)

     id  pokemon_id  type_id
0    10           6        3
1    17          12        3
2    25          16        3
3    27          17        3
4    29          18        3
5    33          21        3
6    35          22        3
7    59          41        3
8    61          42        3
9   123          83        3
10  125          84        3
11  127          85        3
12  178         123        3
13  187         130        3
14  205         142        3
15  208         144        3
16  210         145        3
17  212         146        3
18  216         149        3

In [20]:
# q3: Find all the rows from the "pokemon_types" table where the associated type is "water". Do so without hard-coding the id of the "water" type, using only the name.
q3 = """SELECT * 
    FROM pokemon_types 
    WHERE type_id IN
        (SELECT id
        FROM types
        WHERE name = 'water')"""

## select * from pokemon_types WHERE id in types table = water
## correct ID for water is 11

pd.read_sql(q3, cnx)

     id  pokemon_id  type_id
0    11           7       11
1    12           8       11
2    13           9       11
3    80          54       11
4    81          55       11
5    86          60       11
6    87          61       11
7    88          62       11
8   102          72       11
9   104          73       11
10  114          79       11
11  116          80       11
12  128          86       11
13  129          87       11
14  133          90       11
15  134          91       11
16  146          98       11
17  147          99       11
18  168         116       11
19  169         117       11
20  170         118       11
21  171         119       11
22  172         120       11
23  173         121       11
24  185         129       11
25  186         130       11
26  188         131       11
27  192         134       11
28  197         138       11
29  199         139       11
30  201         140       11
31  203         141       11

In [36]:
# q4: Find the names of all pokemon that have the "psychic" type.

q4 = """SELECT * 
    FROM pokemon_types 
    WHERE type_id IN
        (SELECT id
        FROM types
        WHERE name = 'psychic')"""

pd.read_sql(q4, cnx)

     id  pokemon_id  type_id
0    90          63       14
1    91          64       14
2    92          65       14
3   115          79       14
4   117          80       14
5   144          96       14
6   145          97       14
7   151         102       14
8   153         103       14
9   174         121       14
10  175         122       14
11  180         124       14
12  217         150       14
13  218         151       14

In [35]:
q_psy = """SELECT *
        FROM pokemon_types
        WHERE type_id LIKE 14"""

pd.read_sql(q_psy, cnx)

     id  pokemon_id  type_id
0    90          63       14
1    91          64       14
2    92          65       14
3   115          79       14
4   117          80       14
5   144          96       14
6   145          97       14
7   151         102       14
8   153         103       14
9   174         121       14
10  175         122       14
11  180         124       14
12  217         150       14
13  218         151       14

In [121]:
# q5: Find the average weight for each type. Order the results from highest weight to lowest weight. Display the type name next to the average weight.

# id from types and weight from pokemon
q5 = """SELECT weight from pokemon 
    WHERE id IN
        (SELECT id
        FROM types)"""
pd.read_sql(q5, cnx)

    weight
0       69
1      130
2     1000
3       85
4      190
5      905
6       90
7      225
8      855
9       29
10      99
11     320
12      32
13     100
14     295
15      18
16     300
17     395

In [ ]:
# q6: Find the names and ids of all the pokemon that have more than 1 type. 
q6 = ''
pd.read_sql(q6, cnx)

In [ ]:
# q7: Find the id of the type that has the most pokemon. Display type_id next to the number of pokemon having that type. 
q7 = """"""SELECT * FROM pokemon 
        GROUP BY '
pd.read_sql(q7, cnx)

## Part 4: Web Scraping

### Accessing Data Using BeautifulSoup [suggested time: 15 minutes]

Use BeautifulSoup to get quotes, authors, and tags from [Quotes to Read](http://quotes.toscrape.com/).

Before answering these questions, go to the site and inspect the page. Make sure to look at what links there are and how the site is structured.

1. Get the first author and the path for the author's page as a tuple from the [homepage](http://quotes.toscrape.com/).

In [12]:
from bs4 import BeautifulSoup

quote_page = requests.get('http://quotes.toscrape.com/') 
soup = BeautifulSoup(quote_page.content, 'html.parser')

2. Write a function to get **all** the authors and href links for the authors from the [homepage](http://quotes.toscrape.com/)

In [15]:
def authors(soup):
    itemprop = soup.findAll('small', class_='author')
    author_name = [name.attrs['class'] for name in itemprop]
    # url = 
    return author_name
    # just testing this return value while i work

    '''
    input: url
    
    return: a dictionary of of authors and their urls
            {'author_1':'url_of_author_1', 'author_2':'url_of_author_2' ...}
    '''

In [16]:
authors(soup)

IndexError: list index out of range

In [ ]:
# run this cell to test the function
print(authors('http://quotes.toscrape.com/'))
print('\n')
print(authors('http://quotes.toscrape.com/page/3'))

In [341]:
    n = map(int, input().split())

    def find_runner_up(n):
        unique_scores = sorted(set(n))
        runner_up = unique_scores[-2]
        print(runner_up)

 2 4 5 3 2 5

In [342]:
find_runner_up(n)

4