## Exercise

In [1]:
import pandas as pd
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

data = pd.read_csv("data.csv" )

In [ ]:
### Notes from Sucheta

# 1. Create new column called order_count, in this add order count for the customer
# 2. Create new column called recent_date, pull most recent purchase date
# 3. Display top ten rows, sorting customer by ID
# 

data.head()

### A) Assemble a dataframe with one row per customer and the following columns:
    * customer_id
    * gender
    * most_recent_order_date
    * order_count (number of orders placed by this customer)
   Sort the dataframe by customer_id ascending and display the first 10 rows.

In [2]:
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df.date)

#Find most recent date by customer id

df = df.groupby('customer_id').agg('max')
df = df.reset_index()

#Get number of orders placed per customer

#sort the dataframe by customer id

#Add the order count to the dataframe

#Top 10 rows 
df

      customer_id  gender                date   value  predicted_gender
0            1000       0 2017-01-01 00:11:31  198.50                 1
1            1001       0 2017-01-01 00:29:56  338.00                 1
2            1002       1 2017-02-19 21:35:31  733.00                 1
3            1003       1 2017-04-26 02:37:20  772.00                 1
4            1004       0 2017-01-01 03:11:54  508.00                 1
...           ...     ...                 ...     ...               ...
8809         9809       1 2017-12-31 21:39:33  606.40                 1
8810         9810       1 2017-12-31 22:16:20  794.44                 0
8811         9811       1 2017-12-31 22:24:06  148.60                 0
8812         9812       0 2017-12-31 23:01:10  153.00                 1
8813         9813       0 2017-12-31 23:11:02  534.00                 1

[8814 rows x 5 columns]

In [ ]:
df

In [ ]:
df = df.sort(['customer_id'])
df

In [ ]:
df['order_count'] = df['customer_id'].value_counts(normalize=True)

df

### B) Plot the count of orders per week.

In [ ]:
df['week number'] = pd.to_datetime(df['date']).dt.strftime('%U')
                                                           
df.head()

### C) Compute the mean order value for gender 0 and for gender 1. Do you think the difference is significant? 
Hint: use approptiate test to find out the difference is significant or not.

In [3]:
data.groupby('gender')['value'].mean()

gender
0    363.890006
1    350.708361
Name: value, dtype: float64

In [4]:
gender_0 = data[data['gender']== 0]['value']
gender_1 = data[data['gender']== 1]['value']
stats.ttest_ind(gender_0, gender_1)

Ttest_indResult(statistic=1.9757691572170935, pvalue=0.04820130539124317)