# Make your own module

In [44]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
import temperizer as tps

## Example: Convert F to C

1. This function is already implemented in `temperizer.py`.
2. Notice that we can call the imported function and see the result.

In [3]:
# 32F should equal 0C
tps.convert_f_to_c(32)

0.0

In [4]:
# -40F should equal -40C
tps.convert_f_to_c(-40)

-40.0

In [5]:
# 212F should equal 100C
tps.convert_f_to_c(212)

100.0

## Your turn: Convert C to F

1. Find the stub function in `temperizer.py`
2. The word `pass` means "this space intentionally left blank."
3. Add your code _in place of_ the `pass` keyword, _below_ the docstring.
4. Run these cells and make sure that your code works.

In [10]:
# 0C should equal 32F
tps.convert_c_to_f(0)

32.0

In [11]:
# -40C should equal -40F
tps.convert_c_to_f(-40)

-40.0

In [12]:
# 100C should equal 212F
tps.convert_c_to_f(100)

212.0

## Next: Adding New Functions

You need to add support for Kelvin to the `temperizer` library.

1. Create new _stub functions_ in `temperizer.py`:

    * `convert_c_to_k`
    * `convert_f_to_k`
    * `convert_k_to_c`
    * `convert_k_to_f`

    Start each function with a docstring and the `pass` keyword, e.g.:

    ```
    def convert_f_to_k(temperature_f):
        """Convert Fahrenheit to Kelvin."""
        pass
    ```

2. Add cells to this notebook to test and validate these functions, similar to the ones above.

3. Then, go back to `temperizer.py` to replace `pass` with your code.

4. Run the notebook cells to make sure that your new functions work.

In [13]:
tps.convert_c_to_f(100)

212.0

In [14]:
tps.convert_f_to_c(0)

-17.77777777777778

In [15]:
tps.convert_c_to_k(58)

331.15

In [16]:
tps.convert_f_to_k(18)

265.3722222222222

In [17]:
tps.convert_k_to_c(44)

-229.14999999999998

In [18]:
tps.convert_k_to_f(132)

-222.07

### Extra credit:

make a function in your temperizer that will take a temp in F, and print out:

```
The temperature [number] F is:
    - x in C
    - y in k
```

In [37]:
#tps.convert_f_to_all(89)

In [34]:
temp_f = 8
tps.write_f_in_c_and_k(temp_f)

The temperature 8F is:
             - -13.333333333333334 in C
             - 259.81666666666666 in k

## Revisiting our animal shelter plans

Let's load in our animal shelter data using this url: https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD

Try using the syntax from the command line warmup from last week.

Take some more time exploring the feature descriptions: 
https://www.kaggle.com/aaronschlegel/austin-animal-center-shelter-outcomes-and

In [35]:
import pandas as pd
import numpy as np

In [51]:
!curl https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD -o animals.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 14.9M    0 14.9M    0     0  3405k      0 --:--:--  0:00:04 --:--:-- 3405k

In [47]:
original_df = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
df = original_df.copy()

In [52]:
df.shape
df['Outcome Type'].value_counts()

Adoption           48325
Transfer           33230
Return to Owner    19607
Euthanasia          7532
Died                1033
Rto-Adopt            500
Disposal             434
Missing               66
Relocate              20
Name: Outcome Type, dtype: int64

Using .info() and .describe() what observations can we make about the data?

In [53]:
#your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110753 entries, 0 to 110752
Data columns (total 12 columns):
Animal ID           110753 non-null object
Name                75833 non-null object
DateTime            110753 non-null object
MonthYear           110753 non-null object
Date of Birth       110753 non-null object
Outcome Type        110747 non-null object
Outcome Subtype     50424 non-null object
Animal Type         110753 non-null object
Sex upon Outcome    110750 non-null object
Age upon Outcome    110730 non-null object
Breed               110753 non-null object
Color               110753 non-null object
dtypes: object(12)
memory usage: 10.1+ MB

In [55]:
df.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,110753,75833,110753,110753,110753,110747,50424,110753,110750,110730,110753,110753
unique,99258,18084,91071,91071,6641,9,22,5,5,49,2495,579
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,493,39,39,118,48325,27768,62667,38768,19997,30415,11588

Use an apply to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

Lastly, use a groupby to show the average age of the different kinds of animal types. Hint: use .unique() on a column to see what unique values are in the column.

In [151]:
#your code here